.resource-block {
  width: 100%;
  height: 275px;
  display: inline-block;
  background: #ffffff;
  transition: all .2s ease-in-out;
  border: 1px solid #dddddd;
  max-height: 400px;
}

.half-vertical-top img {
  width: 100%;
  height: 100%;
  padding: 0 0;
}

.resource-block:hover {
  border: 1px solid #afafaf;
  background: #ffffff;
  transform: scale(1.05);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

hr {
  width: 90%;
  border-top: 1px solid #8c8b8b;
  margin: 0 auto!important;
}

