<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
</head>
<body>
  <div class="main">
    <div class="intro">
      <div class="content">
        <div class="content-center">
          <h1>Все онлайн-услуги от 500 Р</h1>
          <p>Kwork - это по-настоящему удобный магазин онлайн-услуг.
            Добавляйте услуги в корзину и заказывайте их в пару кликов. Адекватные цены, скорость исполнения и гарантия возврата средств - никогда еще фриланс не был таким приятным!</p>
          <div class="box">
            <div class="container-4">
              <input type="search" id="search" placeholder="Search..." />
              <button class="icon">Поиск</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <% @products.each do |product| %>
        <%= link_to product_path(product) do %>
          <div class="col-1-5">
            <div class="resource-block">
              <div class="half-vertical-top">
                <%= image_tag('products/product.jpg') %>
              </div>
              <div class="half-vertical-bot">
                <div class="almost-vertical">
                  <h2 class="product-name"><%= product.name %></h2>
                </div>
                <div class="few-vertical">
                  <hr class="style1">
                  <p class="price" style="margin-right:5px; float:right;"><%= product.price %> ₽</p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="footer">
      <div class="upper">
        <div class="wrapper">
          <div class="content-center">
            <h2 class="head-text">Кворк.ру - магазин фриланс услуг по фиксированной цене</h2>
            <p>Получайте качественные услуги разных специалистов точно в срок без переплат. Продавайте свои услуги, разместив кворки и получая заказы в автоматическом режиме.</p>
          </div>
        </div>
      </div>
      <div class="botter">
        <div class="wrapper">
          <div class="col-1-5">
            <h2>О нас</h2>
            <li><a><p>О проэкте</p></a></li>
            <li><a><p>Контакты</p></a></li>
            <li><a><p>Пользовательское соглашение</p></a></li>
          </div>
          <div class="col-1-5">
            <h2>Помощь</h2>
            <li><a><p>Правила сервиса</p></a></li>
            <li><a><p>Вопрос - ответ</p></a></li>
            <li><a><p>Служба поддержки</p></a></li>
          </div>
          <div class="col-1-5">
            <h2>Полезное</h2>
            <li><a><p>Покапателям</p></a></li>
            <li><a><p>Категории</p></a></li>
            <li><a><p>Ваканссии</p></a></li>
          </div>
          <div class="col-1-5">
            <h2>Сообщество</h2>
            <li><a><p>Новости</p></a></li>
            <li><a><p>Блог</p></a></li>
            <li><a><p>Акции</p></a></li>
          </div>
          <div class="col-1-5">
            <h2>Сообщество</h2>
            <li><a><p>Новости</p></a></li>
            <li><a><p>Блог</p></a></li>
            <li><a><p>Акции</p></a></li>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
